version: '3'
services:
  onlinemat:

    container_name: frontend
    image: registry.cevi.tools/cevi/onlinemat-frontend:latest

    build:
      context: .

    ports:
      - "3000:3000"

    read_only: true
    tmpfs:
      - /tmp
      - /var/cache/nginx
      - /var/run
    security_opt:
      - no-new-privileges:true
