.list-item {
    cursor: pointer;
    padding: 8px 12px !important;

    &:active {
        background-color: rgba(0, 0, 0, 0.02);
    }
}

.item-title {
    display: flex;
    align-items: center;
    font-size: 14px;
}
